{% extends 'base.html' %}w
{% block header %}
<h1>{% block title %}Redes: 5G{% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 style="background-color:red;text-align:center">5G</h1>
<h2 style="text-align: center;">CONHEÇA A TECNOLOGIA  5G</h2>
<div style="text-align: center;">
    <img src="{{url_for('static', filename='5G.jpg')}}" alt="5G">
</div>
<h1 style="background-color:red;text-align:center">Definição e Enquadramento</h1>
<ul>
    <li>
        <p style="font-size:20px">Definição: O sistema 5G (desenvolvido por empresas telefonicas) consiste num padrão de tecnologia de quinta geração para redes móveis e de banda larga, pode operar num espectro de frequência muito elevado que varia de 24 a 100 GHz.</p>
    </li>
    <li>
        <p style="font-size:20px">As empresas de telefonia celular e telecomunicações  começaram a implementar os sistemas 5G pela primeira vez no mercado no final de 2018 e continuam a expandir-se no mercado tecnológico, no âmbito das redes moveis.</p>
    </li>
    <li>
        <p style="font-size:20px">Elementos que caracterizam os sistemas 5G:</p>
    </li>
    <li>
        <p style="font-size:20px">Possuem uma taxa de dados de até 10 Gbps (que é 10 a 100 vezes melhor que as redes 4G e 4.5G), possui uma latência de 1 milissegundo e uma cobertura de  100% ;</p>
    </li>
    <li>
        <p style="font-size:20px">Banda larga 1.000 vezes mais rápida por unidade de área; </p>
    </li>
    <li>
        <p style="font-size:20px">Capacidade de conexão em mais de 100 dispositivos por unidade de área (em comparação com as redes 4G LTE), podendo a sua bateria  até 10 anos nos dispositivos IOT (Internet Of Things) de baixa potência; </p>
    </li>
    <li>
        <p style="font-size:20px">Reeducação de 90% no consumo de energia da rede, e com disponibilidade de praticamente 99,999%.</p>
    </li>
</ul>
<h1 style="background-color:red;text-align:center">Cobertura e Aplicabilidade </h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">As redes 5G expandem os serviços sem fio de banda larga além da internet móvel até a Internet das Coisas e segmentos de comunicação essenciais.</p>
            </li>
            <li>
                <p style="font-size:20px">As redes 5G suportarão todas as necessidades de comunicação da Rede de Área Local.</p>
            </li>
            <li>
                <p style="font-size:20px">Os casos de uso 5G trarão novos recursos para o armazenamento, computação e rede e introduzirão novos riscos à confidencialidade, integridade e disponibilidade de dados corporativos e de seus usuários.</p>
            </li>
            <li>
                <p style="font-size:20px">Algumas aplicações principais, como a dos carros autônomos, exigem uma latência muito agressiva (tempo de resposta rápido), o que implica o uso do 5G para melhoria dos serviços,  embora não exijam velocidades de transmissão de dados tão rápidas. Por outro lado, estima-se também que esta tecnologia irá revolucionar os serviços corporativos na nuvem com análise maciça de dados, em termos velocidade de dados.</p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align: center"><img src="{{url_for('static', filename='5g1.jpg')}}" alt="5g1">
    </div>
</div>
<h1 style="background-color:red;text-align:center">Desvantagens</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Range limitado, também devido a incapacidade dos sinais de onda na faixa de milímetros de penetrar em obstruções.</p>
            </li>
            <li>
                <p style="font-size:20px">É necessária uma propagação imensa de matrizes de antenas do tipo MIMO para implementação independente de 5G. Outra desvantagem desta tecnologia está relacionadas ao custo.</p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align: center"><img src="{{url_for('static', filename='areas5G.jpg')}}" alt="areas5G"></div>
</div>
<h1 style="background-color:red;text-align:center">Vantangens</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Os aumentos de velocidade e a melhoria da latência que o 5G oferece são uma vantagem óbvia e significativa em relação ao 4G e também em relação a normas anteriores. Outra vantagem da tecnologia 5G é a melhoria inerente no suporte dos dispositivos, facilitada pelo menor tamanho e fornecimento de sinal direcional  mais preciso de conjuntos de antenas MIMO, que acompanham a tecnologia 5G.</p>
            </li>
            <li>
                <p style="font-size:20px">A melhor arquitetura da rede 5G torna a transição mais tranquila quando os usuários mudam de célula para célula. Isto melhora a experiência geral do usuário, limitando a interrupção de transferência de dados e a perda de sinais.</p>
            </li>
            <li>
                <p style="font-size:20px">O impacto da tecnologia 5G no mundo dos negócios a longo prazo será bem alto. Os fabricantes de chips, modems e de celulares já estão preparando suas ferramentas para a inevitável conversão. Outros mercados, como o bancário, o automotivo e o setor de agricultura, verão um impacto significativo a partir da evolução da Internet das Coisas (IoT). Tudo, de caixas eletrônicos até equipamentos de irrigação, poderá finalmente se tornar parte da vasta rede de produtos “inteligentes”.</p>
            </li>
            <li>
                <p style="font-size:20px">O impacto mais visível e imediato para os consumidores será a capacidade de streaming exponencialmente mais rápida. Sistemas Wi-Fi domésticos tradicionais conectados à internet por rede cabeada poderão, em alguns casos, ser conectados a conexões 5G diretas, pois as velocidades estarão em igualdade com a maioria das redes de fibra óptica.</p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align:center"><img src="{{url_for('static', filename='user5g.jpg')}}" alt="user5g"></div>
</div>
</div>
<h1 style="background-color:red;text-align:center">Tabela Resumo</h1>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        text-align: center;
    }

    th {
        color: black;
        background-color: red;
        text-align: center;
    }

    table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table>
    <tr>
        <td colspan=1 style="visibility:collapse">Hide</td>
        <th>5G</th>
        <th>TETRA</th>
        <th>NFC</th>
    </tr>
    <tr>
        <th>Bandas de frequência</th>
        <td>100 MHz a 38 GHz</td>
        <td>380 MHz a 430 MHz</td>
        <td>13.56 MHz</td>
    </tr>
    <tr>
        <th>Largura de banda</th>
        <td>40 GHz</td>
        <td>25 kHz</td>
        <td>200 kHz</td>
    </tr>
    <tr>
        <th>Técnica de acesso</th>
        <td>MIMO</td>
        <td>TDMA</td>
        <td>TDMA</td>
    </tr>
    <tr>
        <th>Modulação</th>
        <td>256-QAM</td>
        <td>DQPSK</td>
        <td>ASK, Manchester</td>
    </tr>
    <tr>
        <th>Débitos</th>
        <td>1,8 Gbit/s</td>
        <td>28.8 kbit/s</td> 
        <td>848 kbit/s</td>
    </tr>
    <tr>
        <th>Cobertura típica</th>
        <td>1 a centenas de metros</td>
        <td>1 até 30 km</td>
        <td>1 até 10 Cm</td>
    </tr>
    <tr>
        <th>Planeamento Celular</th>
        <td>A cada estação base é<br /> atribuída um parte<br /> dos canais disponíveis e às<br /> estações bases por
            perto<br /> são
            atribuídos grupos<br /> de canais diferentes.</td>
        <td>São distribuídos por <br /> sub-sistemas  que compõem<br /> a rede TETRA, incluindo as<br /> estações rádio base.
            <br />
        
            distribuídos a diversos<br /> a canais e dispositivos diferentes</td>
        <td>Da estação base,<br /> às sub-estações<br /> até a unidade usuária<br />  
    </tr>
    <tr>
        <th>Tipos de Serviços</th>
        <td>Voz, SMS, MMS e Dados</td>
        <td>Voz, SMS e Dados</td>
        <td>Voz, SMS, MMS e Dados</td>
    </tr>
</table>
</div>
<h1 style="background-color:red;text-align:center">Há algum risco para nossa saúde?</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O 5G faz uso da radiação eletromagnética, com um efeito semelhante às redes móveis 2G, 3G e 4G para o corpo humano. Em Portugal, o 5G irá usar sobretudo duas faixas de frequência: 700 MHz e 3,6 GHz .</p>
            </li>
            <li>
                <p style="font-size:20px">A primeira é inferior às frequências utilizadas nas tecnologias móveis atuais e a segunda, embora mais elevada, não coloca os utilizadores em risco.</p>
            </li>
            <li>
                <p style="font-size:20px">Estudos verificaram que quanto mais elevadas são as frequências, menor é a penetração das ondas no tecido humano (a pele atua como um filtro para as ondas eletromagnéticas com frequências mais elevadas). Quanto mais elevadas as frequências, menor é a penetração das ondas, reduzindo a exposição dos órgãos internos.</p>
            </li>
        </ul>
    </div>
<div style="margin-left: 620px;text-align:center"><img src="{{url_for('static', filename='radiaçao.jpg')}}" alt="radiaçao"></div>
</div>
<h1 style="background-color:red;text-align:center">Referências</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px"><a href="https://pt.wikipedia.org/wiki/5G"
                    target="_blank">https://pt.wikipedia.org/wiki/5G</a></p>
            </li>
            <li>
                <p style="font-size:20px"><a href="https://www.thalesgroup.com"
                    target="_blank">https://www.thalesgroup.com</a></p>
            </li>
            <li>
                <p style="font-size:20px"><a href="https://www.apwportugal.pt/o-que-e-o-5g-e-como-vai-impactar-a-sua-vida/"
                    target="_blank">https://www.apwportugal.pt/o-que-e-o-5g-e-como-vai-impactar-a-sua-vida/</a></p>
            </li>
          </li>
          <p style="font-size:20px"><a href="https://pplware.sapo.pt/tutoriais/networking/novas-frequencias-5g/"
            target="_blank"> https://pplware.sapo.pt/tutoriais/networking/novas-frequencias-5g/</a></p>
        </li>
      </li>      
    </ul>
    </div> 
{% endblock %}