{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Redes: Cloud-Ran{% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 style="background-color:red;text-align:center">Cloud-Ran</h1>
<h2 style="text-align: center;">Saiba tudo sobre o Cloud-Ran</h2>
<div style="text-align: center;">
    <img src="{{url_for('static', filename='gsmr.jpg')}}" alt="gsm-r">
</div>
<h1 style="background-color:red;text-align:center">Características e curiosidades</h1>
<ul>
    <li>
        <p style="font-size:20px">Cloud-Ran</p>
    </li>
</ul>
<h1 style="background-color:red;text-align:center">Técnica de Acesso Múltiplo utilizada</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px"></p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align: center"><img src="{{url_for('static', filename='tdma.jpg')}}" alt="tdma">
    </div>
</div>
<h1 style="background-color:red;text-align:center">Débitos</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px"></p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align: center"><img src="{{url_for('static', filename='debitoGSMR.jpg')}}"
            alt="debito"></div>
</div>
<h1 style="background-color:red;text-align:center">Cobertura</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px"></p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align:center"><img src="{{url_for('static', filename='antenaGSMR.jpg')}}"
            alt="cobertura"></div>
</div>
<h1 style="background-color:red;text-align:center">Planeamento Celular</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px"></p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align:center"><img
            src="{{url_for('static', filename='planeamentoCelularGSMR.jpg')}}" alt="planeamentoCelular"></div>
</div>
<h1 style="background-color:red;text-align:center">Tipos de serviços</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">
                </p>
            </li>
        </ul>
    </div>
    <div style="margin-left: 620px;text-align:center"><img src="{{url_for('static', filename='servicosGSMR.jpg')}}"
            alt="reutilizacaoFreq"></div>
</div>
{% endblock %}