{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Redes: GSM-R{% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 style="background-color:red;text-align:center">GSM-R</h1>
<h2 style="text-align: center;">Saiba tudo sobre o GSM-R</h2>
<div style="text-align: center;margin: auto">
    <img src="{{url_for('static', filename='gsmr.jpg')}}" alt="gsm-r">
</div>
<h1 style="background-color:red;text-align:center">Características e curiosidades</h1>
<ul>
    <li>
        <p style="font-size:20px">GSM-R é a sigla para Global System for mobile comunications-Railway</p>
    </li>
    <li>
        <p style="font-size:20px">Surge em 2000, após 10 anos de colaboração de várias companhias ferroviárias
            europeias.</p>
    </li>
    <li>
        <p style="font-size:20px">É usado para transmitir informação entre os comboios e os centros de comando.</p>
    </li>
    <li>
        <p style="font-size:20px">Permite a comunicação entre o comboio e as estações.</p>
    </li>
    <li>
        <p style="font-size:20px">Permite a transmissão de anúncios de Long Line Public Address (LLPA) para estações na
            linha.</p>
    </li>
    <li>
        <p style="font-size:20px;margin-right:20px">Quando um comboio passa por uma <a
                href="https://www.trainlogistic.com/Imagens/Comboios/varias/Varios(08).jpg" target="_blank">baliza de
                controlo</a>, o GSM-R permite que ele transmite sua nova posição e a sua velocidade, e recebe de volta a
            concordância (ou desacordo)
            para entrar na próxima linha e a sua nova velocidade máxima. Tornando assim os sinais da via redundantes.
        </p>
    </li>
    <li>
        <p style="font-size:20px;margin-right:20px">Se a 11 de Setembro de 1985 já existisse GSM-R, o <a
                href="https://pt.wikipedia.org/wiki/Desastre_ferroviário_de_Moimenta-Alcafache" target="_blank">desastre
                de Moimenta-Alcafache</a>, o maior acidente ferroviário que ocorreu em Portugal, poderia muito
            possivelmente ter sido evitado, uma vez que, teria sido possível comunicar com os comboios que circulavam em
            sentidos contrários na linha
            ao mesmo tempo.</p>
    </li>
    <li>
        <p style="font-size:20px">Opera nas frequências entre 876-880 MHz e 921-925 MHz, próximas do GSM.</p>
    </li>
    <li>
        <p style="font-size:20px">Usa a modulação GMSK (Gaussian Minimum Shift Keying).</p>
    </li>
</ul>
<h1 style="background-color:red;text-align:center">Arquitectura de uma rede GSM-R</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O BTS (Base transceiver station) cria uma estrutura celular e está ligado ao
                    BSC que o controla.</p>
            </li>
            <li>
                <p style="font-size:20px">O comboio que se encontra numa célula pode comunicar com o resto da rede
                    através do BTS.</p>
            </li>
            <li>
                <p style="font-size:20px">O BSC (Base station controller) é responsável pela alocação de frequências de
                    rádio, medições de
                    potência e sinal e também pelo handover entre células.</p>
            </li>
            <li>
                <p style="font-size:20px">O MSC (Mobile switching center) é responsável pelo roteamento e lida com
                    handovers Inter BSC-Intra MSC.</p>
            </li>
            <li>
                <p style="font-size:20px">O NSS (Network switching subsystem) é a parte principal do MSC e faz a ligação
                    entre os centros de comando, manutenção e outras redes GSM.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='GSM-R_arquitectura.jpg')}}"
            alt="Arquitectura"></div>
</div>
<h1 style="background-color:red;text-align:center">Técnica de Acesso Múltiplo utilizada</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">GSM-R usa TDMA (Time Division Multiple Access).</p>
            </li>
            <li>
                <p style="font-size:20px">O TDMA divide um canal de frequência em até oito intervalos de tempo
                    distintos.</p>
            </li>
            <li>
                <p style="font-size:20px">Cada frame de TDMA têm um período de 4,615 ms.</p>
            </li>
            <li>
                <p style="font-size:20px">O GSM-R divide cada frame de TDMA (200 kHz) em 8 time-slots que carregam 148
                    bits de informação.</p>
            </li>
            <li>
                <p style="font-size:20px">Cada utilizador ocupa um espaço de tempo específico na transmissão.</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='tdma.jpg')}}" alt="tdma">
    </div>
</div>
<h1 style="background-color:red;text-align:center">Débitos</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O GSM-R permite transmissões de até 270,833 kbit/s</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='debitoGSMR.jpg')}}"
            alt="debito"></div>
</div>
<h1 style="background-color:red;text-align:center">Cobertura</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">A distância entre antenas de GSM-R é de 7 a 15 km.</p>
            </li>
            <li>
                <p style="font-size:20px">As antenas são montadas junto à linha férrea, normalmente ao pé de estações.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='antenaGSMR.jpg')}}"
            alt="cobertura"></div>
</div>
<h1 style="background-color:red;text-align:center">Planeamento Celular</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">No GSM-R a cobertura
                    é obtida por meio de uma série de pequenas áreas ou células de cobertura adjacentes e sobrepostas.
                </p>
            </li>
            <li>
                <p style="font-size:20px">No GSM-R o padrão do planeamento celular é linear, ao contrário do GSM que é
                    bidimensional, pois o seu objectivo é cobrir a linha férrea.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='planeamentoCelularGSMR.jpg')}}"
            alt="planeamentoCelular"></div>
</div>
<h1 style="background-color:red;text-align:center">Reutilização de frequências</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Como o número de frequências é finito, as frequências são reutilizadas de
                    forma a que haja uma distância de separação entre as células na mesma frequência para evitar
                    interferências.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='reutilizacaoFreqGSMR.jpg')}}"
            alt="reutilizacaoFreq"></div>
</div>
<h1 style="background-color:red;text-align:center">Tipos de serviços</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Comunicação entre comboios e o centro de controlo.
                </p>
            </li>
            <li>
                <p style="font-size:20px">ASCI (Advanced Speech Call Items)
                </p>
            </li>
            <li>
                <p style="font-size:20px">VGCS (Voice Group Call Service)
                </p>
            </li>
            <li>
                <p style="font-size:20px">VBS (Voice Broadcast Service)
                </p>
            </li>
            <li>
                <p style="font-size:20px">REC (Railway Emergency Call)
                </p>
            </li>
            <li>
                <p style="font-size:20px">SEC (Shunting Emergency Call)
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='servicosGSMR.jpg')}}"
            alt="reutilizacaoFreq"></div>
</div>
<h1 style="background-color:red;text-align:center">Tabela Resumo</h1>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        text-align: center;
    }

    th {
        color: black;
        background-color: red;
        text-align: center;
    }

    table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table>
    <tr>
        <td colspan=1 style="visibility:collapse">Hide</td>
        <th>GSM-R</th>
    </tr>
    <tr>
        <th>Bandas de frequência</th>
        <td>876-880 MHz e 921-925 MHz</td>
    </tr>
    <tr>
        <th>Largura de banda</th>
        <td>200 kHz</td>
    </tr>
    <tr>
        <th>Técnica de acesso</th>
        <td>TDMA</td>
    </tr>
    <tr>
        <th>Modulação</th>
        <td>GMSK</td>
    </tr>
    <tr>
        <th>Débitos</th>
        <td>270,833 kbit/s</td>
    </tr>
    <tr>
        <th>Cobertura típica</th>
        <td>7 até 15 km</td>
    </tr>
    <tr>
        <th>Planeamento Celular</th>
        <td>A cada estação base é atribuída um parte dos canais disponíveis e às<br /> estações bases por
            perto são atribuídos grupos de canais diferentes.</td>
    </tr>
    <tr>
        <th>Tipos de Serviços</th>
        <td>Comunicação entre comboios e o centro de controlo<br />
            ASCI (Advanced Speech Call Items<br />
            VGCS (Voice Group Call Service)<br />
            VBS (Voice Broadcast Service)<br />
            REC (Railway Emergency Call)<br />
            SEC (Shunting Emergency Call)<br />
        </td>
    </tr>
</table>
<h1 style="background-color:red;text-align:center">Referências</h1>
<p style="font-size:20px"><a href="https://en.wikipedia.org/wiki/GSM-R"
        target="_blank">https://en.wikipedia.org/wiki/GSM-R</a></p>
<p style="font-size:20px"><a
        href="https://www.globalrailwayreview.com/article/648/achieving-a-successful-gsm-r-radio-plan/"
        target="_blank">https://www.globalrailwayreview.com/article/648/achieving-a-successful-gsm-r-radio-plan/</a></p>
<p style="font-size:20px"><a
        href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiGzdm-vZfvAhUbQEEAHcWYA3gQFjACegQIAhAD&url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2FdownloadFile%2F563345090416553%2FThesis_PedroD_final.pdf&usg=AOvVaw3FrwVIBCu5Qjf_E-H1tzeQ"
        target="_blank">https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiGzdm-vZfvAhUbQEEAHcWYA3gQFjACegQIAhAD&url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2FdownloadFile%2F563345090416553%2FThesis_PedroD_final.pdf&usg=AOvVaw3FrwVIBCu5Qjf_E-H1tzeQ</a>
</p>
<p style="font-size:20px"><a
        href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiGzdm-vZfvAhUbQEEAHcWYA3gQFjABegQIARAD&url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2FdownloadFile%2F1689244997258501%2FDissertacao%2520Andre%2520Ribeiro(pos%2520defesa).pdf&usg=AOvVaw0G2dONFEh7vI01M_Zs5Lr3"
        target="_blank">https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiGzdm-vZfvAhUbQEEAHcWYA3gQFjABegQIARAD&url=https%3A%2F%2Ffenix.tecnico.ulisboa.pt%2FdownloadFile%2F1689244997258501%2FDissertacao%2520Andre%2520Ribeiro(pos%2520defesa).pdf&usg=AOvVaw0G2dONFEh7vI01M_Zs5Lr3</a>
</p>
<p style="font-size:20px"><a href="https://uic.org/rail-system/gsm-r/"
        target="_blank">https://uic.org/rail-system/gsm-r/</a>
</p>
<p style="font-size:20px">Slides de Complementos de Redes Do Professor Lúcio Studer</p>
<p style="font-size:20px">Google Imagens</p>
{% endblock %}