{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Redes: GSM{% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 style="background-color:red;text-align:center">GSM</h1>
<h2 style="text-align: center;">Saiba tudo sobre o GSM, também conhecido por 2G</h2>
<div style="text-align: center;margin: auto">
    <img src="{{url_for('static', filename='gsm.jpg')}}" alt="gsm">
</div>
<h1 style="background-color:red;text-align:center">Características e curiosidades</h1>
<ul>
    <li>
        <p style="font-size:20px">GSM é a sigla para Global System for mobile comunications</p>
    </li>
    <li>
        <p style="font-size:20px">Surgiu na Bell Laboratories no início dos anos 70.</p>
    </li>
    <li>
        <p style="font-size:20px;margin-right:20px">Na Finlândia a 1 de Julho de 1991 foi feita a primeira chamada GSM
            do mundo usando uma
            rede construída pela
            Nokia e
            pela Siemens e operada pela Radiolinja.</p>
    </li>
    <li>
        <p style="font-size:20px">É o standard mais aceite nas telecomunicações e está implementado globalmente. </p>
    </li>
    <li>
        <p style="font-size:20px">Em 2010 tinha 90% de market share.</p>
    </li>
    <li>
        <p style="font-size:20px">Grande qualidade de chamadas de voz.</p>
        </p>
    </li>
    <li>
        <p style="font-size:20px">Possui roaming internacional.</p>
    </li>
    <li>
        <p style="font-size:20px">Possui eficiência espectral melhorada.</p>
    </li>
    <li>
        <p style="font-size:20px">As estações base e os telemóveis são de baixo custo.</p>
    </li>
    <li>
        <p style="font-size:20px">Opera na frequência dos 900 MHz e 1800MHz.</p>
    </li>
    <li>
        <p style="font-size:20px">Usa a modulação GMSK (Gaussian Minimum Shift Keying).</p>
    </li>
</ul>
<h1 style="background-color:red;text-align:center">Arquitectura de uma rede GSM</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O BTS cria uma estrutura celular e está ligado ao BSC que o controla.</p>
            </li>
            <li>
                <p style="font-size:20px">O telemóvel que se encontra numa célula pode comunicar com o resto da rede
                    através do BTS.</p>
            </li>
            <li>
                <p style="font-size:20px">O BSC é responsável pela alocação de frequências de rádio, medições de
                    potência e sinal e também pelo handover entre células.</p>
            </li>
            <li>
                <p style="font-size:20px">O MSC é responsável pelo roteamento de chamadas de voz e SMS, configura a
                    conexão comutada por circuito de ponta a ponta entre os assinantes e lida com serviços móveis, como
                    registo, autenticação, atualização de localização e handovers Inter BSC-Intra MSC.</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='GSM_arquitectura.jpg')}}"
            alt="Arquitectura"></div>
</div>
<h1 style="background-color:red;text-align:center">Técnica de Acesso Múltiplo utilizada</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O GSM usa TDMA (Time Division Multiple Access).</p>
            </li>
            <li>
                <p style="font-size:20px">O TDMA divide um canal de frequência em até oito intervalos de tempo
                    distintos.</p>
            </li>
            <li>
                <p style="font-size:20px">Cada utilizador ocupa um espaço de tempo específico na transmissão.</p>
            </li>
            <li>
                <p style="font-size:20px">O GSM divide cada canal de 200 kHz em 8 time-slots de 25kHz.</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='tdma.jpg')}}" alt="tdma">
    </div>
</div>
<h1 style="background-color:red;text-align:center">Débitos</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">O GSM permite 9.6 kbit/s de downlink e uplink.</p>
            </li>
            <li>
                <p style="font-size:20px">Existem “evoluções” do GSM, como o EDGE que permite 80 kbit/s.</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='debito.jpg')}}" alt="debito">
    </div>
</div>
<h1 style="background-color:red;text-align:center">Cobertura</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">A distância máxima do GSM é de 35km devido a restrições técnicas do TDMA.</p>
            </li>
            <li>
                <p style="font-size:20px">Quando o terreno é montanhoso a distância varia entre 5 e 8km.</p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;;text-align: center"><img src="{{url_for('static', filename='cobertura.jpg')}}"
            alt="cobertura"></div>
</div>
<h1 style="background-color:red;text-align:center">Planeamento Celular</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">A cada estação base é atribuída um parte dos canais disponíveis e às estações
                    bases por perto são
                    atribuídos
                    grupos de canais diferentes para diminuir a interferência.
                </p>
            </li>
            <li>
                <p style="font-size:20px">Uplink e downlink estão separados por uma banda de guarda de 20 MHz.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='planeamentoCelular.jpg')}}"
            alt="planeamentoCelular"></div>
</div>
<h1 style="background-color:red;text-align:center">Reutilização de frequências</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Como o número de frequências é finito, as frequências são reutilizadas de
                    forma a que haja uma distância de separação entre as células na mesma frequência para evitar
                    interferências.
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='reutilizacaoFreq.jpg')}}"
            alt="reutilizacaoFreq"></div>
</div>
<h1 style="background-color:red;text-align:center">Tipos de serviços</h1>
<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px;margin: auto; float: left;">
        <ul>
            <li>
                <p style="font-size:20px">Voz
                </p>
            </li>
            <li>
                <p style="font-size:20px">SMS e MMS
                </p>
            </li>
            <li>
                <p style="font-size:20px">Dados
                </p>
            </li>
        </ul>
    </div>
    <div style="margin: auto;text-align: center"><img src="{{url_for('static', filename='servicos.jpg')}}"
            alt="reutilizacaoFreq"></div>
</div>
<h1 style="background-color:red;text-align:center">Tabela Resumo</h1>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        text-align: center;
    }

    th {
        color: black;
        background-color: red;
        text-align: center;
    }

    table {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table>
    <tr>
        <td colspan=1 style="visibility:collapse">Hide</td>
        <th>GSM</th>
        <th>GPRS</th>
        <th>EDGE</th>
    </tr>
    <tr>
        <th>Bandas de frequência</th>
        <td>900 e 1800 MHz</td>
        <td>900 e 1800 MHz</td>
        <td>900 e 1800 MHz</td>
    </tr>
    <tr>
        <th>Largura de banda</th>
        <td>200 kHz</td>
        <td>200 kHz</td>
        <td>200 kHz</td>
    </tr>
    <tr>
        <th>Técnica de acesso</th>
        <td>TDMA</td>
        <td>TDMA</td>
        <td>TDMA</td>
    </tr>
    <tr>
        <th>Modulação</th>
        <td>GMSK</td>
        <td>GMSK</td>
        <td>GMSK, 8PSK</td>
    </tr>
    <tr>
        <th>Débitos</th>
        <td>9,6 kbit/s</td>
        <td>35 kbit/s</td>
        <td>80 kbit/s</td>
    </tr>
    <tr>
        <th>Cobertura típica</th>
        <td>1 até 30 km</td>
        <td>1 até 30 km</td>
        <td>1 até 30 km</td>
    </tr>
    <tr>
        <th>Planeamento Celular</th>
        <td>A cada estação base é<br /> atribuída um parte<br /> dos canais disponíveis e às<br /> estações bases por
            perto<br /> são
            atribuídos grupos<br /> de canais diferentes.</td>
        <td>A cada estação base é<br /> atribuída um parte<br /> dos canais disponíveis e às<br /> estações bases por
            perto<br /> são
            atribuídos grupos<br /> de canais diferentes.</td>
        <td>A cada estação base é<br /> atribuída um parte<br /> dos canais disponíveis e às<br /> estações bases por
            perto<br /> são
            atribuídos grupos<br /> de canais diferentes.</td>
    </tr>
    <tr>
        <th>Tipos de Serviços</th>
        <td>Voz, SMS, MMS e Dados</td>
        <td>Voz, SMS, MMS e Dados</td>
        <td>Voz, SMS, MMS e Dados</td>
    </tr>
</table>
<h1 style="background-color:red;text-align:center">Referências</h1>
<p style="font-size:20px"><a href="https://en.wikipedia.org/wiki/Cell_site#Range"
        target="_blank">https://en.wikipedia.org/wiki/Cell_site#Range</a></p>
<p style="font-size:20px"><a href="https://www.gsmarena.com/network-bands.php3?sCountry=Portugal"
        target="_blank">https://www.gsmarena.com/network-bands.php3?sCountry=Portugal</a></p>
<p style="font-size:20px"><a href="https://www.tutorialspoint.com/gsm/gsm_overview.htm"
        target="_blank">https://www.tutorialspoint.com/gsm/gsm_overview.htm</a></p>
<p style="font-size:20px"><a href="https://pt.slideshare.net/deepakecrbs/gsm-frequency-planning"
        target="_blank">https://pt.slideshare.net/deepakecrbs/gsm-frequency-planning</a></p>
<p style="font-size:20px"><a
        href="https://www.electronics-notes.com/articles/connectivity/2g-gprs/what-is-gprs-tutorial.php"
        target="_blank">https://www.electronics-notes.com/articles/connectivity/2g-gprs/what-is-gprs-tutorial.php</a>
</p>
<p style="font-size:20px"><a href="http://literature.cdn.keysight.com/litweb/pdf/ads2001/vsaedgemeas/gsmunder2.html"
        target="_blank">http://literature.cdn.keysight.com/litweb/pdf/ads2001/vsaedgemeas/gsmunder2.html</a>
</p>
<p style="font-size:20px"><a href="https://umutcanbolat.com/2g-gsm-cellular-network-basics/"
        target="_blank">https://umutcanbolat.com/2g-gsm-cellular-network-basics/</a>
</p>
<p style="font-size:20px"><a href="http://www.kriativ-tech.com/wp-content/uploads/2018/02/LUCIO-STUDER-1.pdf"
        target="_blank">http://www.kriativ-tech.com/wp-content/uploads/2018/02/LUCIO-STUDER-1.pdf</a>
</p>
<p style="font-size:20px">Slides de Complementos de Redes Do Professor Lúcio Studer</p>
<p style="font-size:20px">Google Imagens</p>
{% endblock %}