{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}RCSF: Introdução{% endblock %}</h1>
{% endblock %}
{% block content %}
<h1 style="background-color:red;text-align:center">Introdução</h1>

<p style="font-size:20px">Neste website apresentaremos vários sistemas de comunicações sem fios existentes.</p>

<div style="text-align: center;">
    <img src="{{url_for('static', filename='antena.jpg')}}" alt="antena">
</div>

<h1 style="background-color:red;text-align:center">Sistemas de Comunicações Sem Fios que poderá conhecer no nosso
    website</h1>
<ol>
    <li style="font-size:20px"><a href="gsm">GSM</a></li>
    <li style="font-size:20px"><a href="gsm-r">GSM-R</a></li>
    <li  style="font-size:20px"><a href="umts">UMTS</a></li>
    <li  style="font-size:20px"><a href="lte">LTE</a></li>
    <li  style="font-size:20px"><a href="">5G</a></li>
    <li  style="font-size:20px"><a href="wi_fi">Wi-Fi</a></li>
</ol>
{% endblock %}